<!-- Google Analytics -->
<!-- {{ template "_internal/google_analytics_async.html" . }} -->

{{ if .Site.Params.highlightjs }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
  {{ range .Site.Params.highlightjslanguages }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/languages/{{.}}.min.js"></script>
  {{ end }}

  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
{{ end }}

{{ if .Site.Params.clickyId }}
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{clicky.init({{ .Site.Params.clickyId }});}catch(e){}</script>
  <noscript><p style="display: none"><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{{ .Site.Params.clickyId }}ns.gif" /></p></noscript>
{{ end }}
