{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}
                <div>
                    {{ $paginator := .Paginate (where .Data.Pages.ByPublishDate "Section" "blog") }}
                    {{ range $paginator.Pages }}
                        {{ partial "post.html" . }}
                    {{ end }}
                    <div class="pagination">
                        {{ if $paginator.HasPrev}}
                            <a class="prev" href="{{$paginator.Prev.URL}}">{{ i18n "prev" }}</a>
                        {{ end }}

                        {{ if $paginator.HasNext}}
                            <a class="next" href="{{$paginator.Next.URL}}">{{ i18n "next" }}</a>
                        {{ end }}
                    </div>
                </div>
              </div>
    </div>
</section>
{{ partial "footer.html" . }}

